
{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<div id="app">

    <h5><center><u>Search</u></center></h5>
    <center>
    By Housing Development:
    <select name="selectUnit" id="selectUnit" v-model="house_selected">
        {% comment %} <option value="none" selected disabled hidden>Select an Option</option>  {% endcomment %}
        <option div v-for="house in housing">[[ house.projectName ]]</option>
    </select>
    <br>
    By All, Zip Code or Safety Index:
    <select name="multi_select" id="multi_select" @change="sortBySafetyRank" v-model="multi_select">
        {% comment %} <option value="none" selected disabled hidden>Select an Option</option>  {% endcomment %}
        <option value="all_selected">Alphabetical</option>
        <option value="sortBySafetyRank">Safety Index</option>
        <option value="zip">Zip</option>
    </select>
    </center>
    <hr>
    <div class="row">
    {% csrf_token %}
        <div class="three columns" style="margin-top: 1%;"></div>
        <div class="six columns" style="margin-top: 1%;" >
        <ul>
            <h6><u>Search results:</u></h6>
            <div v-if="house_selected">
                <div v-for="house in tempHousing" :key="house.id">
                    <div v-if="house_selected == house.projectName">
                        - &ensp;<b>Name: [[ house.projectName ]]</b> (Units Avail: [[ house.totalUnits ]])</b><br>
                        &nbsp;&nbsp;&ensp;<b>Safety Rank: [[ house.safetyRank ]]</b>
                        &nbsp;&nbsp;&ensp;Crime Index: [[ house.crimeIndex ]] <br>
                        &nbsp;&nbsp;&ensp;Address: [[ house.address ]], [[ house.zipCode ]]<br>
                        &nbsp;&nbsp;&ensp;Phone: [[ house.contactPhone ]]
                    </div>
                </div>
            </div>
                {% comment %} <div v-if="house_selected">
                    <div v-for="house in housing">
                        <div v-if="house_selected == house.projectName">
                            - &ensp;<b>Name: [[ house.projectName ]]</b> (Units Avail: [[ house.totalUnits ]])</b><br>
                            <div v-for="hood in neighborhoods">
                                <div v-if="hood.zipCode === house.zipCode">
                                    &nbsp;&nbsp;&ensp;<b>Safety Rank: [[ hood.safetyRank ]]</b>
                                    &nbsp;&nbsp;&ensp;Crime Index: [[ hood.crimeIndex ]]
                                </div>
                            </div>
                            &nbsp;&nbsp;&ensp;Address: [[ house.address ]], [[ house.zipCode ]]<br>
                            &nbsp;&nbsp;&ensp;Phone: [[ house.contactPhone ]]
                        </div>
                    </div>
                </div> {% endcomment %}
                {% comment %} <div v-else-if="multi_select">
                    <div v-for="house in housing" :key="house.id">
                        - &ensp;<b>Name: [[ house.projectName ]]</b> (Units Avail: [[ house.totalUnits ]])</b><br>
                        <div v-for="hood in neighborhoods">
                            <div v-if="hood.zipCode === house.zipCode">
                                &nbsp;&nbsp;&ensp;<b>Safety Rank: [[ hood.safetyRank ]]</b>
                                &nbsp;&nbsp;&ensp;Crime Index: [[ hood.crimeIndex ]]
                            </div>
                        </div>
                        &nbsp;&nbsp;&ensp;Address: [[ house.address ]], [[ house.zipCode ]]<br>
                        &nbsp;&nbsp;&ensp;Phone: [[ house.contactPhone ]]
                    </div>
                </div> {% endcomment %}
            <div v-else-if="multi_select">
                <div v-for="house in tempHousing" :key="house.id">
                    - &ensp;<b>Name: [[ house.projectName ]]</b> (Units Avail: [[ house.totalUnits ]])</b><br>
                    &nbsp;&nbsp;&ensp;<b>Safety Rank: [[ house.safetyRank ]]</b>
                    &nbsp;&nbsp;&ensp;Crime Index: [[ house.crimeIndex ]] <br>
                    &nbsp;&nbsp;&ensp;Address: [[ house.address ]], [[ house.zipCode ]]<br>
                    &nbsp;&nbsp;&ensp;Phone: [[ house.contactPhone ]]
                </div>
            </div>
        </ul>
    </div>
    <div class="two columns" style="margin-top: 1%;"></div>
</div>
<hr>
<div>
    <h5><center><u>The W's</u></h5>
    <h6><center><b>How:</b>  Utilize the search boxes above to search for housing. <br>
    <b>Why:</b>  Finding affordable housing is already difficult; PASHI makes it easier. <br>
    <b>What:</b>  PASHI takes Portland crime data and combines it with the affordable housing list. <br>
    <b>Who:</b>  For anyone who wants to make an informed decision when looking for affordable housing. <br><br>
    More housing info: <i><a href="/" target="_blank">Resources</i></a> <br>
    More about PASHI: <i><a href="/" target="_blank">About</i></a> </h6></center>
</div>

{% endblock %}


