{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <title>PASHI Project</title>
  </head> 
  <body> 

    <!-- Utilizing modified Skeleton CSS for formatting ------------------->
    <div class="container">

      <!-- Header --------------------------------------------------->
      <div class="row">
        <div class="ten columns" style="margin-top: 1%">
          <div style="border: none; text-align: center;">
            <img src="/media/images/pashi_logo1.jpg" alt="pashi_logo" style="object-fit: fill; width: 100%">
            <br>
            <i>"Giving those in need an ability to find, not only affordable, but SAFE housing in the City of Portland."</i>
          </div>
        </div>
        <div class="two columns" style="margin-top: 1%; ">
          <div style="border: none; text-align: center;">
          <img src="/media/images/pashi_small_logo.jpg" alt="pashi_small_logo" style="height: 70px; width: auto">
          <br>
          {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <p><a href="{% url 'logout' %}">Log Out</a></p>
          {% else %}
            <a href="{% url 'login' %}">Log In</a><br>
            <a href="{% url 'users_app:signup' %}">Sign Up</a>
          {% endif %}
          </div>
        </div>
      </div>
      <hr>

      <!-- Begin html/django code  ------------------------------------>
      <div class="row">
        <div class="twelve columns" style="margin-top: 1%">
    
          <main>
            {% block content %}
            {% endblock %}
          </main>
          <hr>

        </div>
      </div>

      <!-- Footer --------------------------------------------------------->
      <div class="row">
        <div class="ten columns" ><center><i>BIG Footer</i></center></div>
        <div class="two columns" ><center><i>small Footer</i></center></div>
        {% comment %} <div class="four columns" style="margin-top: 1%"><center>empty</center></div> {% endcomment %}
      </div>
    </div>

    <!-- JS files --------------------------------------------------------->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </body>
</html>