{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <title>PASHI Project</title>
  </head> 
  <body> 

    <!-- Utilizing modified Skeleton CSS for formatting ------------------->
    <div class="container">

      <!-- Header --------------------------------------------------->
      <div class="row">
        <div class="eight columns" style="margin-top: 1%"><center>Here is the logo/title info</center></div>
        <div class="four columns" style="margin-top: 1%"><center><i>Here is the Login Stuff</i></center></div>
      </div>

      <!-- Begin html/django code  ------------------------------------>
      <div class="row">
        <div class="twelve columns" style="margin-top: 1%">
          <main>
            {% block content %}
            {% endblock %}
          </main>
        </div>
      </div>

      <!-- Footer --------------------------------------------------------->
      <div class="row">
        <div class="four columns" style="margin-top: 1%"><center>empty</center></div>
        <div class="four columns" style="margin-top: 1%"><center><i>Here is where footer stuff will go.</i></center></div>
        <div class="four columns" style="margin-top: 1%"><center>empty</center></div>
      </div>
    </div>

    <!-- JS files --------------------------------------------------------->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </body>
</html>