{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <title>PASHI Project</title>
  </head> 
  <body> 

    <!-- Utilizing modified Skeleton CSS for formatting ------------------->
    <div class="container">

      <!-- Header --------------------------------------------------->
      <div class="row">
        <div class="ten columns" style="margin-top: 1%">
          <div style="border: none; text-align: center;">
            <img src="/media/images/pashi_logo1.jpg" alt="pashi1_logo" style="object-fit: fill; width: 100%">
            <br>
            <i>"Choosing 'Safety OR Affordability' shouldn't be a choice.</i>
          </div>
        </div>
        <div class="two columns" style="margin-top: 1%; ">
          <div style="border: none; text-align: center;">
          <img src="/media/images/pashi_small_logo.jpg" alt="pashi_small_logo" style="height: 70px; width: auto">
          <br>
          {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <p><a href="{% url 'logout' %}">Log Out</a></p>
          {% else %}
            <a href="{% url 'login' %}">Log In</a><br>
            <a href="{% url 'users_app:signup' %}">Sign Up</a>
          {% endif %}
          </div>
        </div>
      </div>
      <hr>

      <!-- Begin html/django code  ------------------------------------>
      <div class="row">
          {% csrf_token %}
        <div class="twelve columns" style="margin-top: 1%">
          <main>
            {% block content %}
            {% endblock %}
          </main>
          <hr>
        </div>
      </div>

      <!-- Footer --------------------------------------------------------->
      <div class="row">
        <div class="twelve columns" ><center>Check us out on:<br><i><a href="/" target="_blank">Facebook | Instagram | Twitter<br>Contact Us</a></i></center></div><br>
        <div><center><i><a href="/" target="_blank">FAQ</a></i></center></div>
        <div><center>&copy Copyright 2021</center></div>
      </div>
    </div>

  <!-- JS files --------------------------------------------------------->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Vue script ----------------------------------------------------->
    <script>
      let app = new Vue({
          el: '#app',
          delimiters: ['[[', ']]'],
          data: {
              users: [],
              housing: [],
              housingRank: [],
              neighborhoods: [],
              csrf_token: "",
              postErrors: {},
              house_selected: "",
              multi_select: "",
              tempHousing: [],
              safetyRankArray: [],
          },

          methods: {
              loadHousing: function() {
                  axios({
                      method: 'get',
                      url: '/apis/v1/'
                  }).then(response => {
                      this.housing = response.data
                      {% comment %} console.log(response.data) {% endcomment %}
                  })
              },
              loadNeighborhood: function() {
                  axios({
                      method: 'get',
                      url: '/apis/v1/neighborhood'
                  }).then(response => {
                      this.neighborhoods = response.data
                      {% comment %} console.log(response.data) {% endcomment %}
                  })
              },
              resetDropdown() {
                 var dropDown = document.getElementById("selectUnit");
                  console.log(dropDown.value,dropDown.selectedIndex)
                  dropDown.selectedIndex = "-1"
                  console.log(dropDown.value,dropDown.selectedIndex)
              },
              masterHousing() {
                tempHousing = this.housing

                for (x = 0; x < tempHousing.length; x++) {
                  for (x1 = 0; x1 < this.neighborhoods.length; x1++) {
                    if (tempHousing[x].zipCode === this.neighborhoods[x1].zipCode) {
                      let safetyRank = this.neighborhoods[x1].safetyRank
                      let crimeCount = this.neighborhoods[x1].crimeCount
                      let crimeIndex = this.neighborhoods[x1].crimeIndex
                      tempHousing[x] = Object.assign(this.housing[x], {safetyRank})
                      tempHousing[x] = Object.assign(this.housing[x], {crimeIndex})
                      tempHousing[x] = Object.assign(this.housing[x], {crimeCount})
                    }
                  }
                }
                {% comment %} console.log(tempHousing) {% endcomment %}
                this.tempHousing = tempHousing
              },
              sortBySafetyRank () {
                this.masterHousing()
                this.safetyRankArray = this.tempHousing.sort(function (a, b) {
                  return a.safetyRank - b.safetyRank
                  })
              },
              sortByName () {
                this.masterHousing()
                this.safetyRankArray = this.tempHousing.sort(function (a, b) {
                  return a.projectName - b.projectName
                  })
              },
              sortByZip () {
                this.masterHousing()
                this.safetyRankArray = this.tempHousing.sort(function (a, b) {
                  return a.zipCode - b.zipCode
                  })
              },
              sortBy (event) {
                this.house_selected = ''
                if (event.target.value === 'zip') {
                  this.sortByZip()
                  }
                else if (event.target.value === 'name') {
                  this.masterHousing()
                  }
                else if (event.target.value === 'safety') {
                  this.sortBySafetyRank()
                  }
                {% comment %} console.log(event.target.value)   {% endcomment %}
              },
          },
          created: function() {
              this.loadHousing()
              this.loadNeighborhood()
          },
          mounted: function() {
              this.csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
          }
      });
    </script>

    <!-- Closing tags -->
    </body>
  </html> 

