
{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<h3><center>Put choices for searching (dropdowns)?</center></h3>
<hr>
<div id="app">
    <ul>
        <h4><u>Housing</u></h4>
        <div v-for="house in housing" :key="house.id">
            - &ensp;<b>Name: [[ house.projectName ]] </b><br>
            &nbsp;&nbsp;&ensp;Address: [[ house.address ]] <br>
            &nbsp;&nbsp;&ensp;Crime Index: [[ house.crimeIndex ]]

        </div>
    </ul>
</div>
<hr>
<h3><center>UI Development</center></h3>
<h6><center>On load Display: 1) for anonymous user (alphetical list of housing) - i.e. Default Result OR 2) if user log-ins; saved units (if any)</center></h3>
<h6><center>On search Display results; unit (from housing_data) and the associated neighborhoood info (from neighborhood_data)</center></h3>
<h6><center>If user is logged in, results should also include ability for user to save and take notes. </center></h3>

{% endblock %}