
{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<div id="app">

    <h5><center>Search</center></h5>
    <center>
    <select name="selectUnit" id="selectUnit" v-model="selectUnit">
        <option div v-for="house in housing" value="" selected> 
            [[ house.projectName ]]
        </option>
    </select>

    <select name="userSelection" id="userSelection" v-model="userSelection">
        <option value="safetyIndex" selcted>Safety Index</option>
        <option value="zip" selcted>Zip</option>
    </select>
    </center>

    <hr>

        <ul>
            <h4><u>Housing</u></h4>
            <div v-for="house in housing" :key="house.id">
                - &ensp;<b>Name: [[ house.projectName ]] </b><br>
                &nbsp;&nbsp;&ensp;Address: [[ house.address ]] <br>
                &nbsp;&nbsp;&ensp;Zip Code: [[ house.zipCode ]]
                <div v-for="hood in neighborhoods" v-if="hood.zipCode == house.zipCode">
                    &nbsp;&nbsp;&ensp;Crime Index: [[ hood.crimeIndex ]]
                    &nbsp;&nbsp;&ensp;Safety Rank: [[ hood.safetyRank ]]                   
                </div>
            </div>
        </ul>
</div>
<hr>
<h3><center>UI Development</center></h3>
<h6><center>On load Display: 1) for anonymous user (alphetical list of housing) - i.e. Default Result OR 2) if user log-ins; saved units (if any)</center></h3>
<h6><center>On search Display results; unit (from housing_data) and the associated neighborhoood info (from neighborhood_data)</center></h3>
<h6><center>If user is logged in, results should also include ability for user to save and take notes. </center></h3>

{% endblock %}